@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Mandali&family=Open+Sans:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Mandali&family=Open+Sans:wght@300&family=Staatliches&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: 'Gudea', sans-serif;
    text-align: justify;
    height: 100%;
}

/* content */
h2{
    border-bottom: 1px solid #C4DFDF;
    padding-bottom: 10px;
}

#main-doc{
    margin-left: 22%;
    position: absolute;
    top: 0;
    border-left: 2px solid #C4DFDF;
}

#main-doc section{
    margin-left: 30px;
    margin-right: 40px ;
}

.main-section {
    margin: 10px;
}

.main-section >p{
    padding: 5px;
}

.large-code{
    width: 100%;
    background-color: #F8F6F4;
    height: 6rem;
    border-radius: 4px;
}

.extra{
    height: 17rem;
}

.height-code{
    height: 4rem;
}

.short-code{
    padding: 10px 0 10px 10px;
}

.space{
    padding: 10px;
}

span{
    padding: 10px;
}

/* sidebar */
#navbar >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}    

/* recién agregado */
#sidebar{
    overflow-y: scroll;
    height: 100%;
    left: 0;
    top: 0;
    width: 22%;
    position: fixed;
}

#navbar >ul> li{
    border-bottom: 2px solid #D2E9E9;
    font-family: 'ABeeZee', sans-serif;
}

#navbar> ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px; /* Espaciado interno de los enlaces */
    color: #47A992;
}

.nav-link:hover {
    background-color: #F8F6F4; /* Color de fondo al pasar el cursor por encima */
}

#navbar header{
    font-family: monospace, Courier, 'Courier New';
    font-size: 30px;
    border-bottom: 2px solid #D2E9E9;
    width: 100%;
    font-weight: bold;
    padding: 10px;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Table */
table, td, th{
    border: 1px solid #D2E9E9;
    padding: 15px;
    border-collapse: collapse;
}

table{
    margin: 0 auto;
}

.gray{
    background-color: #888;
}

.light-gray{
    background-color: #E3F4F4;
}

/* footer */
.container{
    display: flex;
    justify-content: space-evenly;
}

.inside-container{
    margin: 10px;
    font-size: 30px;
    color: black;
}

.github{
    color: #000;
}

.twitter{
    color: #1DA1F2;
}

.youtube{
    color: #FF0000;
}

.instagram{
    color: #405DE6
}

/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media(max-width: 900px){
    #main-doc{
        border-left: 0;
    }

    #sidebar{
        width: 30%;
    }

    #main-doc{
        margin-left: 30%;
    }

    #main-doc section{
        margin-left: 10px;
        margin-right: 10px ;
    }

    #navbar header{
        font-family: monospace, Courier, 'Courier New';
        font-size: 15px;
    }
}